.active {
  text-align: center;
  padding: 5px;
  background-color: #1cc2ff;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav {
  margin-right: 5px;
  margin-left: 5px;
}